<h3><%= @snack.name %> Show Page</h3>
<p><b>Price:</b> $<%= @snack.price %></p>
<br>

<h4>Locations:</h4>
<% @machines.each do |machine| %>
	<ul>
		<p><%= machine.location %></p>
		<p>Average Price: $<%= Snack.average_price(machine.id) %></p>
		<p>Snack Count: <%= machine.snacks.count %></p>
	</ul>
<% end %>